@import "tailwindcss";
@plugin "daisyui";

:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@utility container-fluid {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: linear-gradient(7deg, rgba(0, 0, 0, 0.8500) 10.00%, rgba(0, 0, 0, 0.8465) 17.25%, rgba(0, 0, 0, 0.8361) 24.50%, rgba(0, 0, 0, 0.8187) 31.75%, rgba(0, 0, 0, 0.7944) 39.00%, rgba(0, 0, 0, 0.7632) 46.25%, rgba(0, 0, 0, 0.7250) 53.50%, rgba(0, 0, 0, 0.6868) 60.75%, rgba(0, 0, 0, 0.6556) 68.00%, rgba(0, 0, 0, 0.6312) 75.25%, rgba(0, 0, 0, 0.6139) 82.50%, rgba(0, 0, 0, 0.6035) 89.75%, rgba(0, 0, 0, 0.6000) 97.00%), url('./assets/banner_large.jpg') no-repeat center center / cover;
}
.main{
  min-height: 100vh;
}